.removed {
    text-decoration: line-through;
    background: #ffbbbb;
}
.added {
    background: #bbffbb;
}
.tabbed {
    margin-left: 20px;
    position: relative;
    background: #e2e2e2;
    margin-bottom: 2px;
}
pre{
    margin: 0;
    padding: 0;
    border: none;
    background-clip: content-box;
    width: fit-content;
}
pre div{
    width: fit-content;
    background: transparent;
}
span.small {
    position: absolute;
    right:0;
    top: calc(50% - 9px);
    background: #00a0aa;
    display: inline-block;
    padding: 1px 15px;
    border-radius: 5px;
}