.Rtable td, .Rtable th {  
  border: 1px solid #ddd;
  text-align: left;
  padding: 15px;
}

.Rtable {
  border-collapse: collapse;
  width: 100%;
}

.api-catalog-bordered-box {
  border-style: solid;
  border-width: 0.5px;
  border-color: #eaeaea !important;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.api-catalog-bordered-bottom {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: #eaeaea !important;
}

.api-catalog-box-title {
  font-weight: bold;
  font-size: 12;
}

.react-datepicker-wrapper {
  display: inline !important;
}
