moviebook-envoy-cs.yaml
moviebook-envoy-replay-cs.yaml
services.yaml
mock-all-except-moviebook.yaml
replayid.temp
template_version.temp
envoy_record_cs.yaml
*.log
.DS_Store
apps/common/kubernetes/*
apps/cube/kubernetes/*
apps/moviebook/kubernetes/*
!apps/moviebook/kubernetes/.gitkeep
!apps/common/kubernetes/.gitkeep
!apps/cube/kubernetes/.gitkeep
.idea
