<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="CubeConfig">
  <Properties>
    <Property name="filename">cube.log</Property>
  </Properties>
  <Filter type="ThresholdFilter" level="trace"/>
 
  <Appenders>
    <Console name="STDOUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Console name="FLOW">
      <PatternLayout pattern="%C{1}.%M %m %ex%n"/><!-- class and line number -->
    </Console>
    <Console name="ConsoleJSONAppender" target="SYSTEM_OUT">
      <JsonLayout complete="false" objectMessageAsJsonObject="true" eventEol="true"
                  propertiesAsList="false" compact="true" properties="false"  includeStackTrace="true">
      </JsonLayout>
    </Console>
    <File name="File" fileName="${filename}">
      <PatternLayout pattern="%d %p %C{1.} [%t] %m%n" />
    </File>
  </Appenders>
 
  <Loggers> 
    <Root level="info">
      <!-- <AppenderRef ref="STDOUT"/> -->
      <AppenderRef ref="ConsoleJSONAppender"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
 
</Configuration>
