<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="CubeConfig">
  <Properties>
    <Property name="filename">cube.log</Property>
  </Properties>
  <!--<Filter type="ThresholdFilter" level="trace"/>-->

  <Appenders>
    <!--<Console name="STDOUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Console name="FLOW">
      <PatternLayout pattern="%C{1}.%M %m %ex%n"/>&lt;!&ndash; class and line number &ndash;&gt;
    </Console>-->
    <Console name="ConsolePatternAppender" target="SYSTEM_OUT"  direct="true">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <!--<JsonLayout complete="false" objectMessageAsJsonObject="true" eventEol="true"
                        propertiesAsList="false" compact="true" properties="false"  includeStackTrace="true"
                        locationInfo="false">
      </JsonLayout>-->
    </Console>
<!--    <File name="File" fileName="${filename}">
      <PatternLayout pattern="%d %p %C{1.} [%t] %m%n" />
    </File>-->
  </Appenders>

  <Loggers>
    <AsyncRoot level="info">
      <!-- <AppenderRef ref="STDOUT"/> -->
      <!-- Useful docs https://logging.apache.org/log4j/2.x/manual/customconfig.html-->
      <AppenderRef ref="ConsolePatternAppender"/>
     <!-- <AppenderRef ref="File"/>-->
    </AsyncRoot>
  </Loggers>

</Configuration>