.tabs {
    /* Center the content */
    display: flex;
    overflow:hidden;
    max-width: 95%;
}

.tab {
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    cursor: pointer;
    padding: 16px;
    margin-left: 8px;
    height: 48px;
    flex: 0 0 auto;
}

.tab.active {
    background-color: #ECECE7;
 }

.tab.inactive {
   background-color: #ADADAD;
}

.tab-head {
    border-radius: 2px;
    width: 100%;
    min-width: 32px;
    white-space: nowrap;
}

.tab-inactive {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    padding: 16px;
}

.tab-last {
    border-bottom: 0px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 16px;
}

.tab-add {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    padding: 16px;
}

.tab-wrapper {
    background: #DCD1B5;
    border-radius: 16px 16px 0px 0px;
    padding-top: 18px;
    display: flex;
}

.tab-body-wrapper {
    height: 550px;
    margin-top: 1px;
    background: #ECECE7;
    border: 4px solid #DCD1B5;
    box-sizing: border-box;
    border-radius: 0px 0px 16px 16px;
}

.add-request-options-button {
    margin-top: 5px;
    background: none;
    outline: none;
    border: none;
    padding-left: 6px;
    text-align: left;
    cursor: pointer;
    padding: 0.5% 1.8%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-request-options-button:hover {
    background-color: #d4d4d4;
}

.popover {
    max-width: 800px !important;
    top: 52px !important;
}

.popover.bottom>.arrow {
    display: none !important;
}

.fade.envModal.in.modal {
    text-align: center;
    padding: 0!important;
}

.fade.envModal.in.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.fade.envModal.in.modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.collection-options{
    position: absolute;
    right: 0px;
    display:none;
    background-color: white;
    height: 100%;
    top: 0px;
}

i.fas.fa-trash.pointer {
    font-size: 11px;
    align-self: center;
    color:#7d7c7c;
}
i.fas.fa-trash.pointer:hover{
    color: #333333;
}
.panel-heading .collection-options {
    right: 2px;
    padding-top: 10px;
    background-color: #f5f5f5;
}
.treeNodeItem:hover, .treeNodeItem:hover .collection-options{
    background-color: #ecece7;
}
.treeNodeItem:hover .collection-options, .panel-heading:hover .collection-options {
    display:block;
}

.split-slider {
    content: ' ';
    height: 100%;
    width: 3px;
    background-color: #d8d8d8;
    cursor: ew-resize
}
.split-slider:hover{
    border: 1px solid #8c8989;
}