.tabs {
    /* Center the content */
    display: flex;
    overflow:hidden;
    max-width: 95%;
}

.tab {
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    cursor: pointer;
    padding: 16px;
    margin-left: 8px;
    height: 48px;
    flex: 0 0 auto; 
}

.tab.active {
    background-color: #ECECE7;
 }

.tab.inactive {
   background-color: #ADADAD;
}

.tab-head {
    border-radius: 2px;
    width: 100%;
    min-width: 32px;
    white-space: nowrap;
}

.tab-inactive {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    padding: 16px;
}

.tab-last {
    border-bottom: 0px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 16px;
}

.tab-add {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    padding: 16px;
}

.tab-wrapper {
    background: #DCD1B5;
    border-radius: 16px 16px 0px 0px;
    padding-top: 18px;
    display: flex;
}

.tab-body-wrapper {
    height: 550px;
    margin-top: 1px;
    background: #ECECE7;
    border: 4px solid #DCD1B5;
    box-sizing: border-box;
    border-radius: 0px 0px 16px 16px;
}