.reset-password-message {
    font-size: 14px;
}

.server-error-message {
    margin-top: 15px;
    text-align: center;
    color: #f1ecec;
    background: #a94442;
    padding: 5px;
    border-radius: 3px;
}