.create-account-label {
    color: #FF6600;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

.checkbox-container {
    display: flex;
}

.checkbox-label {
    margin: 1px 0px 0px 5px;
}

.checkbox-custom {
    cursor: pointer;
}