.create-account-label {
    color: #999999;
    /* color: #FF6600; */
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    font-weight: 200;
}

.checkbox-container {
    display: flex;
    padding-top: 5px;
}

.checkbox-label {
    margin: 1px 0px 0px 5px;
    cursor: default;
}

.checkbox-custom {
    cursor: pointer;
}

.custom-sign-in-divider {
	border: 1px solid #FFA76D;
}

.create-account-container {
	margin-top: 20px;
	font-size: 14px;
}

.recaptcha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}