#rep-attr {
    font-family: 'Roboto Condensed', sans-serif;
}
.pos-rel {
    position: relative;
}
.row1-dummy {
    position: absolute;
    padding: 10px;
    background: #CCEEFD;
    width: 100%;
}
.row2-dummy {
    position: absolute;
    padding: 20px;
    background: #e7f9fe;
    width: 100%;
}
.ra-row1 {
    z-index: 2;
    position: relative;
    padding: 0;
    background: #95A9B1/*#9fe9f9*/;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 20px 0 30px;
}
.dual {
    background: #A4CFE2;
    border-bottom-right-radius: 10px;
}
.dual .col-md-6:first-child {
    background: #CCEEFD;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.ra-row2 {
    background: #e7f9fe;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin: 0 auto;
}
.ra-row3 {
    margin: 0 50px 5px;
}
select {
    width: 200px;
    padding: 3px;
    background: #fff;
}

.replay-container {
    border-top: 2px solid #eeeeee;
    margin-top: 15px;
}

.label {
    color: #999999;
    font-weight: lighter;
}

.replay-container .col-sm-8 {
    border-right: 2px solid #eeeeee;
    padding-top: 15px;
    height: calc(100vh - 161px);
}

.replay-container .col-sm-4 {
    padding-top: 15px;
    height: calc(100vh - 161px);
}

.result-container{
    padding: 15px;
}
.border-bottom{
    border-bottom: 1px solid #DDDDDD;
}
.status {
    display: inline-block;
    padding: 0 10px;
}
li.disabled {
    opacity: 0.2;
}
div.remove {
    background: #ffbbbb;
    text-decoration: line-through;
    width: fit-content;
}
div.add {
    background: #bbffbb;
    width: fit-content;
}
div.replace {
    background: #ffbbbb;
    width: fit-content;
}
