.navigation-main {
    height: 100vh;
    overflow: hidden;
}

.left-pane {
    background: #545454;
    position: relative;
    width: 56px;
    height: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px !important;
    display: inline-block;
    min-height: 380px;
}
.q-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.q-links-top {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 18px 0;
}
.link-q {
    color: #CCC6B0;
    margin-bottom: 10px;
    font-size: 22px;
}

.link-q:hover {
    color: #00B2FF;
    cursor: pointer;
}

.top-navig {
    background: #545454 !important;
}

.company-name {
    position: absolute;
    top: 5px;
    left: 14px;
    height: 36px;
    display: inline-block;
    color: #FFFFFF;
}

.company-name img {
    height: 28px;
    margin: 4px 0;
    vertical-align: top;
}

.company-name div {
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    color: #F3F4DA;
    line-height: 36px;
    font-weight: 200;
    margin-left: 10px;
}

.nav-links .link{
    margin-right: 15px;
    font-size: 16px;
    line-height: 50px;
}

.nav_menu {
    margin-bottom: 0 !important;
    background: #545454 !important;
    border-bottom: none;
}

.info-wrapper {
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background: #EAEAEA;
    display: inline-block;
    padding: 10px;
}
.label-n {
    color: #333333;
    font-weight: 300;
    font-size: 10px;
}
.value-n {
   font-weight: 500;
}
.application-name {
    font-weight: 600;
    font-size: 16px;
}
.div-label {
    font-weight: 400;
    font-size: 16px;
}
.app-img {
    padding: 10px;
    height: 120px;
}
.app-name {
    padding: 8px 0px 8px 5px;

    text-align: center;
    font-weight: 500;
    background-color: #cacaca;
}


.info-div{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999999;
}
.service-gph{
    padding: 10px;
    height: 120px;
    width: 100%;
    background: #FFFFFF;
    margin-top: 10px;
}
.service-gph img, .app-img img {
    width: 100%;
    height: 100%;
}

.filter-tc{
    padding: 8px;
    background: #D5D5D5;
}
.vertical-middle {
    vertical-align: middle;
}
.r-text {
    font-size: 11px;
    vertical-align: text-bottom;
}
.width-50 {
    width: 45%;
}

.label-link {
    color: #333333;
    font-weight: 300;
    font-size: 12px;
}

.add-header-row {
    display: flex;
    flex: 1;
    align-items: center;
}

.add-header-input {
    display: flex;
    flex: 1;
}

.user-avatar {
    color: #545454;
    font-size: 13px !important;
    font-weight: bold;
    margin-left: 15px;
}

.UserAvatar--inner:hover {
    background-color: #00B2FF !important;
    cursor: pointer;
}

aside .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #5A738E;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 2px solid #fc6c0a;
    font-weight: 500;
}

aside .nav-tabs>li>a {
    color: #555;
}

.link-q path:hover{
    fill:#00B2FF;
    pointer-events:all;
}

.app-selector:hover{
    background-color: white;
    border-color: #636363;
}
.app-selector{
    padding: 5px;
    border: #c5bfbf 1px solid;
    background-color: #f1f1f1;
    border-radius: 4px;
    /* margin-top: 15px; */
    position: relative;
}
.app-box.selected{
    border-color: #1abafb;;
}
.app-box.selected .app-name{
    background-color: #1abafb;
}
.app-box{
    padding: 2px;
    border: #ddd 1px solid;
    border-radius: 4px;
    margin-top: 5px;
    position: relative;
    color: #333;
    background-color: #f5f5f5;
}
.app-actions{
    position: absolute;
    right: 5px;
    display: none;
    top: 0px;
    margin-top: 10px;
}
.app-actions i{
    margin-left: 5px;
}
.app-box:hover .app-actions{
    display: inline-block;
}

.errorMessage{
    color: red;
}
.app-box:hover {
    border-color: #191986;
    background-color: #c8e5ff;
}
.app-navigator.is-open{
    background-color: #cac6c6;
}
.app-navigator{
    padding: 5px;
    border-radius: 7px;
}
.nav-cont{
    overflow-y: auto;
}
.nav-cont > div{
    min-height: 440px;
}