.prop-rules{
    max-width:800px;
}

.errorMessage{
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.successMessage{

    color: green;
    text-align: center;
    margin-bottom: 10px;
}