.Rtable td, .Rtable th {  
  border: 1px solid #ddd;
  text-align: left;
  padding: 15px;
}

.Rtable {
  border-collapse: collapse;
  width: 100%;
}

.api-catalog-bordered-box {
  border-style: solid;
  border-width: 0.5px;
  border-color: #eaeaea !important;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.top-api-nav{
  font-weight: 300; 
  margin-bottom: 5px;
}
.top-api-nav>div{ 
  display: flex;
}
.top-api-nav .nav-item{
  cursor: pointer; 
  margin-right: 30px;
}
.top-api-nav .nav-item.selected{
  font-weight: 600;
}
.select-indicator{
  border: 1px solid #ff7878 !important;
}
/* 
.api-catalog-bordered-bottom {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: #eaeaea !important;
}*/

.api-catalog-box-title {
  font-weight: bold;
  font-size: 12;
}

.react-datepicker-wrapper {
  display: inline !important;
}

.api-catalog-view-btn {
  width: 10%;
  min-width: 90px;
} 

.header-container {
  display: flex;
  justify-content: space-between;
}

.api-catalog-title-container {
  padding-bottom: 20px;
}


.topFilters .multi-select{
   width: calc(100% - 80px);
    max-height: 220px;
    min-width: 120px;
}
.topFilters{
  display:flex;
}

.header-container .right-btns{
  display:inline-flex;
  
}

.header-container .right-btns .count-block{
  margin-right: 10px;
  align-self: center;
}

.info-wrapper .filters{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.http-client .panel-title{
  word-break: break-all;
}
.selected-items{
  display: flex;
  flex-flow: column;
}
.selected-items div{
   margin-right: 100px;
}

/** Multiselect CSS **/

.multi-select ul{ 
  overflow-x: hidden;
}
.multi-select .list-group{
  margin-bottom: 5px;
  max-height: calc(100% - 75px);
}

.multi-select .list-group li:nth-child(odd){
  background-color: #eaeaea;
}

.multi-select .list-group li:hover{
  background-color: #d4d4d4;
}
.multi-select .list-group-item{
  padding: 3px 5px;
}
.multi-select input.filter, .multi-select div.input-group{
  width:100%
}

.left-arrow-glyph{
  align-self: center;
}
.left-arrow-glyph span{
  color: #615f5f;
  padding: 0px 20px;
  align-self: center;
  font-size: 48px;
}
.list-group-item.active{
  background-color: #7e8992 !important;
  border-color: #7e8992 !important;
}

.browse-golden-spinner-root {
  height: 300px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.browse-golden-spinner-inner {
  display: flex; 
  align-items: center;
}

.browse-golden-list-container {
  height: 300px;
  overflow-y: auto;
}