spec:
  template:
    spec:
      containers:
      - name: fluentd
        volumeMounts:
        - name: fluentd-cube-conf-{{namespace}}
          mountPath: /fluentd/etc/conf.d/fluent-cube-{{namespace}}.conf
          subPath: fluent-cube-{{namespace}}.conf
      volumes:
      - name: fluentd-cube-conf-{{namespace}}
        configMap:
          name: "fluentd-cube-conf-{{namespace}}"