apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-cube-conf-{{namespace}}
  namespace: logging
data:
  fluent-cube.conf-{{namespace}}: |-
    # tail cubews (envoy) logs
    <source>
      @type tail
      @id in_tail_cube_envoy_cubews_{{namespace}}
      path /var/log/containers/cubews*{{namespace}}_istio-proxy*.log
      pos_file /var/log/fluentd-containers-{{namespace}}-cube-envoy-cubews.log.pos
      tag cube.envoy.cubews.{{namespace}}
      read_from_head true
      <parse>
        @type json
      </parse>
    </source>

    # tail cubews (cubews agent) logs
    <source>
      @type tail
      @id in_tail_cube_agent_cubews_{{namespace}}
      path /var/log/containers/cubews*{{namespace}}_cubews*.log
      pos_file /var/log/fluentd-containers-{{namespace}}-cube-agent-cubews.log.pos
      tag cube.agent.cubews.{{namespace}}
      read_from_head true
      <parse>
        @type json
      </parse>
    </source>


    # filter for parsing envoy proxy logs
    <filter cube.envoy.*>
      @type parser
      key_name log
      <parse>
        @type regexp
        expression script log: \[cube\](?<inner_json>.*)$
      </parse>
    </filter>

    # filter for parsing cubews agent logs
    <filter cube.agent.*>
      @type parser
      key_name log
      <parse>
        @type regexp
        expression Cube FnReqResp Event:(?<inner_json>.*)$
      </parse>
    </filter>

    # send inner_json
    <filter cube.**>
      @type parser
      format json
      key_name inner_json
      reserve_data false
      remove_key_name_field true
    </filter>


    # http output for cube dogfooding (envoy)
    <match cube.envoy.cubews.*>
      @type http
      endpoint http://cubews-record.{{master_namespace}}.svc:8080/cs/rrbatch
      open_timeout 5
      <format>
        @type json
      </format>
      <buffer log>
        @type memory
        chunk_limit_records 10
        flush_interval 10
      </buffer>
    </match>

    # http output for cube dogfooding (agent)
    <match cube.agent.cubews.*>
      @type http
      endpoint http://cubews-record.{{master_namespace}}.svc:8080/cs/frbatch
      open_timeout 5
      <format>
        @type json
      </format>
      <buffer log>
        @type memory
        chunk_limit_records 10
        flush_interval 10
      </buffer>
    </match>