{
    "sourceType": "unambiguous",
    "sourceMaps": true,
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": "3.6.5",
                "useBuiltIns": "entry",
                "loose": true,
            }
        ],
        [
            "@babel/preset-react", {"loose": true}
        ],
        [
            "@babel/preset-typescript", {"loose": true}
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", {"loose": true}],
        ["@babel/plugin-proposal-export-default-from", {"loose": true}], 
    ]
}