name: Java CI

on:
  push:
    branches:
    - develop

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 12
      uses: actions/setup-java@v1
      with:
        java-version: 12
    - name: Build with Maven
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        echo "<settings><servers><server><id>github</id><username>x-access-token</username><password>d988a4475c9b7e2afd2d18e4db5db54da65806cb</password></server></servers></settings>" > ~/.m2/settings.xml
        mvn -B package --file pom.xml
        mvn deploy -Dregistry=https://maven.pkg.github.com/cube-io-corp -Dtoken=$GITHUB_TOKEN

